.readmin-style-switcher {
  position: fixed;
  right: -350px;
  top: 0;
  background: $body-bg;

  height: 100%;
  width: 350px;
  @include an-box-shadow();
  z-index: 99999;
  padding: $padding-large;
  @include transition();

  &.toggle {
    right: 0;
  }
  .clear-btn {
    position: absolute !important;
    right: 0;
    top: 0;
  }

  p {
    opacity: .6;
    margin-bottom: $margin-base;
  }

  h6 {
    padding-bottom: $padding-base;
    padding-top: $padding-base;
    text-transform: uppercase;
  }

  .single-radio {
    width: 50%;
    float: left;
  }
  .radio-group {
    position: relative;
    display: inline-block;

    > div {
      width: 40px !important;
      float: left;
      margin-bottom: 10px;
    }
  }

  .style-toggle {
    position: absolute;
    top: 150px;
    left: -50px;
    width: 50px;
    height: 50px;
    background: $color-primary;
    border-radius: $border-radius 0 0 $border-radius;
    border: 0;
    outline: 0;
    cursor: pointer;
    @include flex-center;

    i {
      color: $font-color-white;
    }

    &:hover {
      background: darken($color-primary, 5%);
    }

  }

  .overflow-content {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}

/* Standard syntax */
@keyframes rotate {
    0% { transform: rotate(0deg)}
    50% {transform: rotate(360deg)}
    100% {transform: rotate(0deg)}
}
